<!-- <li *ngFor="let project of projects">
  <a routerLink="project/{{project.id}}">{{project.id}} {{project.name}}</a>
</li> -->
<!-- <li>
  <a routerLink="project/0">{{projects[0].id}} {{projects[0].name}}</a>
  <a routerLink="project/1">{{projects[1].id}} {{projects[1].name}}</a>
</li> -->
<button routerLink="projectsList">Lista de proyectos</button>
<button routerLink="new">Nuevo proyecto</button>
<button routerLink="/projects">Go project</button>
<button routerLink="/">Go home</button>
<router-outlet></router-outlet>
