<div class="container">
  <button type="button"
          class="btn btn-outline-success"
          routerLink="/projects">Go project home</button>
  <button type="button"
          class="btn btn-outline-success"
          routerLink="projectsList">Lista de proyectos</button>
  <button type="button"
          class="btn btn-outline-success"
          routerLink="new">Nuevo proyecto</button>
  <button type="button"
          class="btn btn-outline-success"
          routerLink="/">Go home</button>
</div>
<router-outlet></router-outlet>
