<div class="container">
  <div class="input-group mb-3">
    <input type="text"
           id="projectNameTest"
           [(ngModel)]="nameP"
           class="form-control"
           placeholder="Nombre de proyecto"
           aria-label="Nombre de proyecto"
           aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-info"
              type="button"
              *ngIf="!nameEmpty()"
              (click)="onPropagar()">Guardar proyecto</button>
    </div>
  </div>
</div>
