<div class="container">
  <form [formGroup]="projectFG">
    <div class="col-md-12 col-sm-12">
      <label class="col-md-3 col-sm-12"
             for="projectName">Nombre del proyecto</label>
      <input class="col-md-3 col-sm-12"
             name="projectName"
             formControlName="projectName"
             type="text" />
      <label class="col-md-3 col-sm-12"
             for="projectDescription">Descripcion del proyecto</label>
      <input class="col-md-3 col-sm-12"
             name="projectDescription"
             formControlName="projectDescription"
             type="text" />
    </div>
    <div class="col-md-12 col-sm-12">
      <label class="col-md-3 col-sm-12"
             for="numTeam">Participantes en el proyecto</label>
      <input class="col-md-3 col-sm-12"
             name="numTeam"
             formControlName="numTeam"
             type="number" />
    </div>
    <div class="col-md-12 col-sm-12">
      <button class="col-md-3 col-sm-12 btn btn-outline-info"
              type="button"
              (click)="onPropagar()"
              [disabled]="projectFG.invalid">Guardar proyecto</button>

    </div>
    <div class="col-md-12 col-sm-12">
      <div class="col-md-12 col-sm-12">
        <span class="col-md-12 col-sm-12">{{ getError('projectName')}}</span>
      </div>
      <div class="col-md-12 col-sm-12">
        <span class="col-md-12 col-sm-12">{{ getError('numTeam')}}</span>
      </div>
    </div>
  </form>

</div>
